<!-- <li class="list-group-item clearfix">
  <%#= link_to conversation.subject, conversation_path(conversation) %>

  <div class="btn-group-vertical pull-right">
    <%# if conversation.is_trashed?(current_user) %>
      <%#= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
    <%# else %>
      <%#= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                  data: {confirm: 'Are you sure?'} %>

      <%# if conversation.is_unread?(current_user) %>
        <%#= link_to 'Mark as read', mark_as_read_conversation_path(conversation),
                    class: 'btn btn-xs btn-info', method: :post %>
      <%# end %>
    <%# #end %>
  </div>

  <p><%#= render 'conversations/participants', conversation: conversation %></p>

  <p><%#= conversation.last_message.body %>
    <small>(<span class="text-muted"><%#= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>
</li> -->
    <div class="panel-body">
    <div class="messages">
      <% @conversations.each do |convo| %>
        <% convo.messages.each do |message| %>
      <div class="row conversation first">
        <p class="conversation-timestamp"><%= message.created_at.strftime("%b, %d %Y") %> | <%= message.created_at.strftime("%H:%M") %></p>
        <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 conversation-av">
          <img class="img-responsive" src="<%= message.sender.image %>">
        </div>
        <div class="col-sm-7 col-md-7 conversation-text">
          <p><strong><%= message.sender.name %></strong></p>
          <%= link_to message.subject, conversation_path(conversation) %>
        </div>
        <%#= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                  data: {confirm: 'Are you sure?'} %>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
      <%= will_paginate %>
