<div class="wrapper message-view">

    <header class="header">
      <div id="multimenu" class="menu-wrapper">
        <nav class="navbar yamm navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="head-font" class="nav navbar-nav navbar-left">

                <li><a href="/users">People</a></li>
                <li><a href="/projects">Projects</a></li>

              </ul>
              <ul id="nav" class="nav navbar-nav navbar-right">
                <li><a href="/projects/new"><img src="../assets/circle-plus.png"></a></li>
                <li><a href="/conversations"><img src="../assets/speech.png"></a></li>
                <li><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <img src="../assets/settings.png">
                    </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="settings-dropdown" role="presentation"><%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->
    </header><!-- end header -->

    <section id="discover-profiles-page-content" class="clearfix">

      <div class="container-fluid">

        <div class="row discover-profiles-content">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 discover-profiles-container">


              <div class="discover-profiles-header">
                  <h1>DISCOVER PEOPLE TO WORK WITH</h1>
                  <h3>Use the filters below to find the perfect match.</h3>
              </div>

              <div class="profile-type-container">
                <table>
                  <tr>
                    <td><a href="/users?utf8=✓&role=Des">DESIGNERS</a></td>
                    <td><a href="/users?utf8=✓&role=Dev">DEVELOPERS</a></td>
                    <td><a href="/users?utf8=✓&role=PM">PROJECT MANAGERS</a></td>
                  </tr>
                  <tr>
                    <td><a href="/users?utf8=✓&role=Mark">MARKETERS</a></td>
                    <td><a href="/users?utf8=✓&role=BD">BIZ DEV</a></td>
                    <td><a href="/users">EVERYONE</a></td>
                  </tr>
                </table>
              </div>

              <div class="recommended-profiles-header">
                <h2>Recommended for you</h2>
                <hr>
              </div>

<!-- specific user search -->
<%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search People" %>
    <button class="btn" type="submit"><i class="icon-search"></i></button>
  </div>
<% end %>

              <div class="row filter-profiles-row">
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <button onclick="window.location='/users';">Browse All</button>
                </div>
                <%= form_tag(users_path, :method => "get", id: "search-form") do %>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <%= text_field_tag :industry, params[:industry], class: "form-control", placeholder: "Industry" %>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <%= text_field_tag :headline, params[:headline], class: "form-control", placeholder: "Positions/Interests" %>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Location" %>
                </div>
                <button class="btn" type="submit"><i class="icon-search"></i></button>
              <% end %>
              </div>

<!-- non-specific user search results -->
<% if @search_results != nil %>
  <h2>Search Results</h2>
<% @search_results.each_slice(2) do |user_batch| %>
             <!-- row of two profiles-->
              <div class="row profiles-row">
                <% user_batch.each do |user| %>
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-<%= cycle("left", "right") %>">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="<%= user.image %>" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5><%= link_to user.name, user %></h5>
                      <p><%= user.headline %></p>
                      <p><%= user.location %></p>
<!--                       <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span> -->
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <!-- <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul> -->
                      <p><%= user.industry %></p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                <% end %>
              </div><!-- row of two -->
              <% end %>
<% end %>


<!-- specific user search results -->
<% if @user_results != nil %>
  <h2>Search Results</h2>
<% @user_results.each_slice(2) do |user_batch| %>
             <!-- row of two profiles-->
              <div class="row profiles-row">
                <% user_batch.each do |user| %>
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-<%= cycle("left", "right") %>">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="<%= user.image %>" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5><%= link_to user.name, user %></h5>
                      <p><%= user.headline %></p>
                      <p><%= user.location %></p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p><%= user.industry %></p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                <% end %>
              </div><!-- row of two -->
              <% end %>
<% end %>

<!-- role search results -->
<% if @role_results != nil %>
  <h2>Search Results</h2>
<% @role_results.each_slice(2) do |user_batch| %>
             <!-- row of two profiles-->
              <div class="row profiles-row">
                <% user_batch.each do |user| %>
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-<%= cycle("left", "right") %>">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="<%= user.image %>" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5><%= link_to user.name, user %></h5>
                      <p><%= user.headline %></p>
                      <p><%= user.location %></p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p><%= user.industry %></p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                <% end %>
              </div><!-- row of two -->
              <% end %>
<% end %>

<% if @user_results == nil && @search_results == nil && @role_results == nil%>
            <% @users.each_slice(2) do |user_batch| %>
             <!-- row of two profiles-->
              <div class="row profiles-row">
                <% user_batch.each do |user| %>
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-<%= cycle("left", "right") %>">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="<%= user.image %>" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5><%= link_to user.name, user %></h5>
                      <p><%= user.headline %></p>
                      <p><%= user.location %></p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p><%= user.industry %></p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                <% end %>
              </div><!-- row of two -->
              <% end %>
<% end %>
            </div><!-- profiles-container -->
          </div><!-- profiles-content -->
        </div><!-- container-fluid -->

        </section>

      </div>


