<h1><%= @user.name %></h1>
<img src="<%= @user.image %>">
<div class='projects'>Projects:
  <li><%# @projects.each do |project| %>
  <a href="<%#= project_path(project) %>" alt=""><%#= @project.id %></a><br></li>

  <%# end %>
  <li><%= @project %></li>
</div>

<input type="hidden" name="visitors" value=<%=@user.id%>>
<%= form_for current_user, :url => '#', :html => { :multipart => true, :id => "paperclipPortfolio" }  do |form| %>
  <%= form.file_field :portfolio %>
<% end %>

<script>
$('#paperclipPortfolio').on('change', paperclipAjax);

function paperclipAjax(e){
  e.preventDefault();
  console.log("moo");

  var input = $('#user_portfolio')[0].files[0];
  var formData = new FormData();
  formData.append("portfolio",input);

  $.ajax({
    dataType: "json",
    method: "PATCH",
    url: "<%= user_path(current_user.id)%>",
    data: formData,
    processData: false,
    contentType: false,
    success: function(resp){
      debugger;
    }
  });
};
</script>

<%= link_to "Meetup Import", user_omniauth_authorize_path(:meetup), method: :get %>
<br>
<%= link_to "Dribble Import", user_omniauth_authorize_path(:dribbble), method: :get %>

<br>
<%= link_to "Github Import", user_omniauth_authorize_path(:github), method: :get %>

<%#= current_user.name %>
<!-- <img src="<%#= current_user.image %>"> -->
<!-- <div class='projects'>Projects:
  <li><%# @projects.each do |project| %>
  <a href="<%#= project_path(project) %>" alt=""><%#= @project.id %></a><br></li>


  <%# end %>
  <li><%#= @project %></li>
</div>

 -->
