<div class="wrapper message-view">

    <header class="header">
      <div id="multimenu" class="menu-wrapper">
        <nav class="navbar yamm navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="head-font" class="nav navbar-nav navbar-left">
                <li><a href="#">People</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a><img src="assets/circle-plus.png"></a></li>
                <li><a><img src="assets/speech.png"></a></li>
                <li><a><img src="assets/check.png"></a></li>
                <li><a><img src="assets/settings.png"></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->

    </header><!-- end header -->

    <section id="discover-projects-page-content" class="clearfix">

      <div class="dashboard-btn-container">
        <button class="btn-default btn-sm dashboard-btn">DASHBOARD</button>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity-item-container">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity-element">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2 hours ago</div>
            <div class="col-xs-5 col-xs-offset-3 col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3 goto-project"><a href="#">Go to project</a></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity-element">
            <img class="col-xs-4 col-sm-4 col-md-4 col-lg-4" src="http://piqueapp.github.io/assets/img/av.png" alt="profile-pic">
            <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8 activity-item-description">Julie went to the store. The store got robbed while she was there. Lying on the floor, she wondered why her cat was burping all the time.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity-element">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <ul class="list-unstyled list-inline">
                <li><a href="#">Like</a></li>
                <li><a href="#">Comment</a></li>
                <li><a href="#">Share</a></li>
              </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-inline">
                <li><a href="#">25</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">2</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>


      <div class="col-xs-8 col-sm-8 col-md-8 discover-projects-container">


        <div class="discover-projects-header">
          <h1>Projects</h1>
          <h3>Look at all these awesome projects!!!</h3>
        </div>

        <div class="project-type-container">
          <table>
            <tr>
              <td><a href="#">EDUCATION</a></td>
              <td><a href="#">FASHION</a></td>
              <td><a href="#">DESIGN</a></td>
            </tr>
            <tr>
              <td><a href="#">LIFESTYLE</a></td>
              <td><a href="#">TECH</a></td>
              <td><a href="#">PUBLISHING</a></td>
            </tr>
          </table>
        </div>




        <div class="recommended-projects-header">
          <h2>Recommended for you</h2>
          <hr class="header-hr">
        </div>

              <div class="row filter-profiles-row">
                <%= form_tag(projects_path, :method => "get", id: "search-form") do %>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <button onclick="javascript:resetPage()" class="form-control">Browse All!</button>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Projects" %>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Location" %>
                </div>
                <button class="btn" type="submit"><i class="icon-search"></i></button>
              <% end %>

<!--               evan, can you help with this script? need it to clear the search form and refresh the page with no query params -->
              <script type="text/javascript">
                function resetPage(){
                  $("#search-form").trigger('reset')
                  window.location.reload();
                };
              </script>

              </div>
<%= button_to 'Add another project', new_project_path, method: 'get' %><br>


<% if @search_results != nil %>
  <h2>Search Results</h2>
<% @search_results.each_slice(3) do |project_batch| %>
        <div class="col-xs-12 col-sm-12 col-md-12 recommended-projects-container">
<% project_batch.each do |project| %>
          <div class="col-xs-4 col-sm-4 col-md-4 recommended-project">
            <img src="http://piqueapp.github.io/assets/img/av.png" alt="recommended project">
            <div class="recommended-projects-content">
              <h5><%= project.name %></h5>
              <p><%= project.about %></p>
              <ul class="project-popularity-list list-unstyled ">
                <li>112 applicants</li>
                <li>567 views</li>
                <li>32 followers</li>
              </ul>
              <ul class="project-tags-list list-unstyled">
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
<% end %>
<% end %>

<% if @search_results == nil %>
<% @projects.each_slice(3) do |project_batch| %>
        <div class="col-xs-12 col-sm-12 col-md-12 recommended-projects-container">
<% project_batch.each do |project| %>
          <div class="col-xs-4 col-sm-4 col-md-4 recommended-project">
            <img src="http://piqueapp.github.io/assets/img/av.png" alt="recommended project">
            <div class="recommended-projects-content">
              <h5><%= project.name %></h5>
              <p><%= project.about %></p>
              <ul class="project-popularity-list list-unstyled ">
                <li>112 applicants</li>
                <li>567 views</li>
                <li>32 followers</li>
              </ul>
              <ul class="project-tags-list list-unstyled">
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
<% end %>
<% end %>

      </div>

    </section>




  <section id="footer" class="col-xs-12 col-sm-12 col-md-12">

    <div class="footer-lists">
      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">ABOUT US</h6>
        <ul class="list-unstyled">
          <li><a href="#">What is Pique?</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2">
        <h6 class="footer-list">HELP</h6>
        <ul class="list-unstyled">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Our Rules</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <h6 class="footer-list">DISCOVER</h6>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-left list-unstyled">
          <li><a href="#">Art</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Fashion</a></li>
        </ul>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-right list-unstyled">
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Publishing</a></li>
          <li><a href="#">Technology</a></li>
        </ul>
      </div>


      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">CONNECT</h6>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 footer-icon">
      <hr>
      <h6>PIQUE</h6>
      <p>&copy; 2015 Pique Inc.</p>
    </div>




  </section>

</div>

