<div class="project-form'">
  <h2><%= current_user.name %>'s New Project</h2>


  <%= form_for(@project) do |p| %>
    <%= p.hidden_field :owner, value: current_user.name %>
    <%= p.label :name, "Project Name" %><br />
    <%= p.text_field :name %><br />
    <%#= p.created_at %>
    <%#= p.updated_at %>
    <%= p.label :about, "About" %><br />
    <%= p.text_field :about %><br />
    <%= p.label(:category, "Category") %>
    <%#= select_tag :category %>
    <%#= p.select :category, options_for_select([["Designers", "Des"], ["Developers","Dev"], ["Project Managers","PM"], ["Marketers","Mark"], ["Biz Devs","BD"], ["Anyone with Strong Work Ethic", "Anyone"]]) %> </br>
    <%= p.label :team, "Team Members" %><br />
    <%= p.text_field :team %><br />
    <%= p.label :openings, "Team Openings" %><br />
    <%= p.text_field :openings %><br />
    <%= p.label :location, "Project Location" %><br />
    <%= p.text_field :location %><br />
    <%= p.label :length, "Duration of Project" %><br />
    <%= p.text_field :length %><br />
    <%= p.submit %>
  <% end %>
</div>
