
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <title>Inbox</title>
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/bootstrap-theme.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/extralayers.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/animate.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/carousel.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/et-line.css">
 <link rel="stylesheet" href="../../../vendor/assets/stylesheets/style.css">
  <link rel="stylesheet" href="../../../app/assets/stylesheets/conversations/message.style.css">
   <link rel="stylesheet" href="../../../app/assets/stylesheets/projects/create-project.style.css">
  <link rel="stylesheet" href="../../../app/assets/stylesheets/activity-feed/activity-feed.style.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


</head>
<body class="create-project-page">


  <div class="wrapper">

    <header class="header">
      <div id="multimenu" class="menu-wrapper">
        <nav class="navbar yamm navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="head-font" class="nav navbar-nav navbar-left">

                <li><a href="/users">People</a></li>
                <li><a href="/projects">Projects</a></li>

              </ul>
              <ul id="nav" class="nav navbar-nav navbar-right">
                <li><a href="/projects/new"><img src="../assets/circle-plus.png"></a></li>
                <li><a href="/conversations"><img src="../assets/speech.png"></a></li>
                <li><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <img src="../assets/settings.png">
                    </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="settings-dropdown" role="presentation"><%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->
    </header><!-- end header -->
  </div>


   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
   </div>

   <div class="col-xs-8 col-sm-8 col-md-8 create-project-container">

    <div class="create-project-header">
       <h3>Create a project</h3>
       <hr class="hr-style">
    </div>


    <div class="create-project-steps-container">
      <ul class="list-unstyled list-inline">
        <li class="green-step">1. Basic Info</li>
        <b class="caret-right"></b>
        <li class="blue-step">2. Project Details</li>
        <b class="caret-right"></b>
        <li class="blue-step">3. Collaborators and Openings</li>
      </ul>
    </div>

    <div class="form-container first-questions">
    <%= form_for(@project) do |p| %>
    <!-- <form action="" method="post" id="create-project-form"> -->
      <fieldset>
        <%= p.hidden_field :owner, value: current_user.name %>
        <p>
          <%= p.label :name, "Project Name*" %><br />
          <%= p.text_field :name, :required => true %><br />
        </p>
        <p>
          <%= p.label :about, "About*" %><br />
          <%= p.text_area :about, :required => true %><br />
<!--           <label for="description">One sentence description of your project*</label>
          <textarea form="create-project-form"></textarea> -->
        </p>
        <p>
          <%= p.label(:category, "Category*") %><br />
          <%= p.select :category, options_for_select([["Social Good", "SG"], ["Social","SM"], ["Ed Tech","ET"], ["Fin Tech","FT"], ["Lifestyle", "L"]]), :required => true %> </br>
        </p>
        <div class="mandatory-fields">*Fields are mandatory</div>
        <div class="create-project-btn-container">
          <input class="create-project-btn" type="submit" value="Continue">
        </div>
      </fieldset>
      <% end %>
    <!-- </form> -->
    </div>



  </div>




</body>
</html>
