<div class="project-form'">
  <h2><%= current_user.name %>'s New Project</h2>


  <%= form_for(@project) do |p| %>
    <%= p.hidden_field :owner, value: current_user.name %>
    <%= p.label :name, "Project Name" %><br />
    <%= p.text_field :name %><br />
    <%= p.label :about, "About" %><br />
    <%= p.text_field :about %><br />
    <%= p.label(:category, "Category") %><br />
    <%= p.select :category, options_for_select([["Social Good", "SG"], ["Social","SM"], ["Ed Tech","ET"], ["Fin Tech","FT"], ["Lifestyle", "L"]]) %> </br>
    <%= p.label :team, "Team Members" %><br />
    <%= p.text_field :team %><br />
    <%= p.label :openings, "Team Openings" %><br />
    <%= p.text_field :openings %><br />
    <%= p.label :location, "Project Location" %><br />
    <%= p.text_field :location %><br />
    <%= p.label :length, "Duration of Project" %><br />
    <%= p.text_field :length %><br />
    <%= p.submit %>
  <% end %>
</div>
