<div class='project-form'>
  <h2><%= current_user.name %>'s New Project</h2>


  <%= form_for(@project) do |p| %>
    <%= p.label :name, "Project Name" %><br />
    <%= p.text_field :name %><br />
    <%= p.label :owner, "Project Owner" %>
    <%= p.text_field :owner %><br />
    <%= p.label :number_of_collaborators, "# of Collaborators" %><br />
    <%= p.text_field :number_of_collaborators %><br />
    <%= p.label :collaborators, "Collaborators" %><br />
    <%= p.text_field :collaborators %><br />
    <%= p.label :active, "Active Project" %><br />
    <%= p.text_field :active %><br />
    <%#= p.created_at %>
    <%#= p.updated_at %>
    <%= p.label :about, "About" %><br />
    <%= p.text_field :about %><br />
    <%= p.label :team, "Team Members" %><br />
    <%= p.text_field :team %><br />
    <%= p.label :openings, "Team Openings" %><br />
    <%= p.text_field :openings %><br />
    <%= p.label :case_studies, "Case Studies" %><br />
    <%= p.text_field :case_studies %><br />
    <%= p.submit %>
  <% end %>
</div>
