<!DOCTYPE html>
<html>
<head>
  <title>Pique</title>
  <%= favicon_link_tag 'av.png'%>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Nunito:400,300,700' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Kite+One' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>

</head>
<body>

<!-- <p class="notice"><#%= notice %></p>
<p class="alert"><#%= alert %></p> -->
<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Pique</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li class="active"><a href="/conversations">Your Conversations <span class="sr-only">(current)</span></a></li>
          <li><a href="/users/edit">Edit Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", user_omniauth_authorize_path(:linkedin) %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav> -->

<%= yield %>

<script type="text/template" id="start-template">    
  <div class="surv row">
    <div class="col-12-xs col-sm-12 col-md-12 text-center" id="surv-question-header">
      <p class="title sub"><%%= header %></p>    
    </div>
    <div class="col-12-xs col-sm-12 col-md-12 text-center" id="surv-question-options">
      <h2><%%= question %></h2>
      <ul id="questions-list">

        <%% for (var i = 0; i < options.length; i++) { %>
        <%%  var option = options[i]; %>

        <li class="surv-question smoothScroll text-center" data-id="<%%= id %>">
          <section id="grid" class="grid clearfix">
            <a href="<%%= option[1] %>" class="route" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <div class="col-xs-3 col-sm-3 col-md-3 surv-padding"></div>
                <svg viewBox="0 0 180 180" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2><%%= option[0] %></h2>
                  <button><i class="fa fa-check fa-2x"></i></button>
                </figcaption>
              </figure>
            </a>
          </section>
        </li>

        <%% }; %>

      </ul>
    </div>
  </div>
</script>

<script type="text/template" id="question-template">    
  <div class="surv row">
    <div class="col-12-xs col-sm-12 col-md-12 text-center" id="surv-question-header">
      <p class="title sub"><%%= header %></p>
      
    </div>
    <div class="col-12-xs col-sm-12 col-md-12 text-center" id="surv-question-options">
      <h2><%%= question %></h2>
      <ul id="questions-list">

        <%% for (var i = 0; i < options.length; i++) { %>
        <%%  var option = options[i]; %>

        <li class="surv-question smoothScroll text-center" data-id="<%%= id %>">
          <section id="grid" class="grid clearfix">
            <a class="surv-a" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <div class="col-xs-3 col-sm-3 col-md-3 surv-padding"></div>
                <svg viewBox="0 0 180 180" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption data-id="<%%= option %>">
                  <h2><%%= option %></h2>
                  <button class="surv-btn"><i class="fa fa-check fa-2x"></i></button>
                </figcaption>
              </figure>
            </a>
          </section>
        </li>

        <%% }; %>

      </ul>
    </div>
  </div>
</script>  


  <script type="text/template" id="chatbox-template">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 message-chat">
      <h3 class="page-header"><small><em>To: <%= options_for_select([recipients_options]) %></em></small>  </h3>
      <div class="message-chats">

      </div>
      <div class="message-textbox col-xs-12 col-sm-12 col-md-12 form-group">
        <input id="message-input" placeholder="Type something here..." type="text">
      </div>
    </div>
  </script> 


  <script type="text/template" id="chat-message-template">
    <div class="col-xs-12 col-sm-12 col-md-12 message-text">
        <img class="img-responsive message-av sender-img" src="<%%= sender.avatar %>">
        <div class="message-content">
          <p class="sender-message"><%%= content %></p>
          <div class="message-time">
            <p class="message-time-date" data-livestamp="<%%= moment(timestamp).unix() %>"></p>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script type="text/template" id="sidebar-message-template">
    <div class="row sidebar-item">
      <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av">
        <img class="img-responsive message-av" src="<%%= sender.avatar %>">
      </div>
      <div class="col-xs-7 col-sm-7 col-md-6 message-info-preview">
        <p><strong class="preview-username"><%%= sender.name %></strong></p>
        <p class="preview-message"><%%= content %></p>
      </div>
    </div>
  </script>



  <%= javascript_include_tag 'application' %>

</body>
</html>
